export(
draw.line.key, draw.point.key, draw.spp.key,
make.binary,
or.contingency, or.glm, or.glmer, 
plot.spaa,
spaa, spaa.lines, spaa.points)
S3method(plot, spaa)
S3method(print, spaa)
S3method(summary, spaa)